#partners {
  background-image: url("/Assets/icons/partners.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: auto;
  max-width: 100vw;
  min-height: 100vh;
}

#splideloop .splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

#splideloop {
  top: 20rem;
}

.h1par {
  display: block;
  position: relative;
  text-align: center;
}

.h2par {
  display: block;
  position: relative;
  text-align: center;
}

@media all and (max-width: 1400px) {
  #splideloop {
    top: 23vw;
  }
}
@media all and (max-width: 1000px) {
  #partners {
    min-height: 50vh;
  }
}
